.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  text-align: center;
  margin-bottom: 20px;
}

.App-header h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.App-header h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #666;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.filter-checkbox {
  margin-right: 5px;
  cursor: pointer;
}

.filter-label {
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.filter-label:hover {
  color: #007bff;
}

.filter-checkbox:checked + .filter-label {
  color: #0056b3;
  font-weight: bold;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center; 
  padding: 10px 0; 
  margin-top: 0; 
}

.page-item {
  margin: 0 5px; 
}

.page-link {
  padding: 12px 20px;
  margin: 0 4px; 
  border: 3px solid #043063;
  background-color: orange; 
  color: white; 
  font-size: 1.25rem; 
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.page-link:hover {
  background-color: #1176db; 
}

.page-link:focus {
  outline: none; 
  box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.5); 
  background-color: #ffa500;
  border-color: #000000; 
}

.virtualized-table-container {
  display: block;
  width: 100%;
  max-width: 90%; 
  margin: auto; 
  border-left: 2px solid #333; 
  border-right: 2px solid #333; 
}

.virtualized-table-header {
  display: flex;
  width: 100%;
  background-color: orange; 
  border: 2px solid #333;
  border-bottom: none; 
}

.virtualized-table-header-cell {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  text-align: center;
  border-right: 1px solid #333; 
  font-size: 1.1rem; 
  font-weight: bold; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.virtualized-table-header-cell:last-child {
  border-right: none;
  padding-right: 18px;
}

.virtualized-table-row {
  display: flex;
  width: 100%;
}

.virtualized-table-cell {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; 
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.virtualized-table-cell input[type="text"],
.virtualized-table-cell input[type="checkbox"] {
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  padding: 0 16px; 
  font-size: inherit; 
  text-align: inherit; 
}

.virtualized-table-cell:last-child {
  border-right: none;
  padding-right: 18px;
}

.table-cell-content {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.column-header {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.virtualized-table-header-cell:first-child,
.virtualized-table-cell:first-child {
  padding-left: 18px; 
}